$bodyColor: #41494d;
$offwhite: #fafafa;

$bodyBackground: #282829;
$networkBackground: #292D33;
$menuBackground: #373D45;

$footerBackground: #1A1D21;
$copyrightBackground: #15181B;

$menuLink: #999999;
$primary-color: #6730D3;