// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border-right {
  border-right: 1px solid #DDD;
}

.field_with_errors .help-block,
.field_with_errors .control-label,
.field_with_errors .radio,
.field_with_errors .checkbox,
.field_with_errors .radio-inline,
.field_with_errors .checkbox-inline {
  color: #a94442;
}

.field_with_errors .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.field_with_errors .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.field_with_errors .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}

.jumbotron {
  margin-top:-20px;
  background-image:url(banner4.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  background-color: $bodyBackground;
}
.jumboImg{
  visibility: hidden;
}
.btn{
  margin-left:10px;
}
.btn-center{
  text-align:center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.social-link {
  margin: 15px;
  width: 213px;
}
@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
  .jumbotron {
  margin-top:-70px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
  .jumbotron {
  margin-top:-40px;
  }
}
.payButton{
  margin-bottom:10px;
}
